@using Autofac
@using COSMIC.Warpdeck.Managers
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse d-block">
    <div class="position-sticky">
        <ul class="nav d-block">
            @foreach (var deviceModel in COSMIC.Warpdeck.Web.WarpDeckFrontend.Container.Resolve<DeviceManager>().GetAllDevices())
            {
                <div class="card mb-1">
                    <div class="card-header">
                        <div class="float-start">
                            <h5 class="m-0 mt-1">
                                <a class="deviceHeaderLink" aria-current="page" href="/device/@deviceModel.DeviceId">
                                    @deviceModel.DeviceId
                                </a>
                            </h5>
                        </div>
                        <div class="float-end">
                            <a class="btn btn-sm btn-secondary me-1"
                               href="javascript:fetch('/api/devicehost/@deviceModel.DeviceId/start')">
                                Open
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="">
                            LAYERS
                        </h5>
                        @foreach (var j in deviceModel.Layers)
                        {
                            <li class="nav-item">
                                <a class="nav-link px-3 py-1" aria-current="page" href="/device/@deviceModel.DeviceId/layer/@j.Key">
                                    @j.Key
                                </a>
                            </li>
                        }
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-secondary btn-sm position-relative me-1"
                           href="/device/@deviceModel.DeviceId/monitor">
                            Monitors
                            <span class="badge bg-primary">@deviceModel.MonitorRules.Rules.Count</span>
                        </a>
                        <a class="btn btn-secondary btn-sm position-relative"
                           href="/device/@deviceModel.DeviceId/property">
                            Properties
                            <span class="badge bg-primary"> @deviceModel.PropertyRules.Count</span>
                        </a>
                        <a class="btn btn-secondary btn-sm" href="/device/@deviceModel.DeviceId/actions">
                            Actions
                        </a>
                    </div>
                </div>
            }
        </ul>
    </div>
</nav>