@page
@using Autofac
@using WarpDeck
@using WarpDeck.Domain
@using WarpDeck.Presentation.Shared
@model WarpDeck.Presentation.Index


@{
    Layout = "/Presentation/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Device: @Model.Device.DeviceId</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
</div>
<div class="mx-auto w-75" >
@await Html.PartialAsync("/Presentation/Shared/_KeymapGrid.cshtml", new KeymapGridPartialModel
{
    Columns = 8,
    Rows = 4,
    Keys =Program.Container.Resolve<DeviceManager>().KeyStates.Values.First()
})
</div>