.keyMapKey{
    cursor: pointer;
    background:#000;
    border: 1px solid #252525;
}
.keyMapKey.active{
    border: 1px solid #0a53be;
}
#propertiesCard{display:none}
#propertiesCard.active{display:block}

#createKeyCard{display:none}
#createKeyCard.active{display:block}