@page
@model COSMIC.Warpdeck.Web.Pages.Clipboard

@{
    Layout = "Shared/_VueApp";
}

<div id="clipboardApp">
    <table class="table table-dark table-striped">
        <tr>
            <th style="width: 60%">Clip</th>
            <th class="" style="width: 40%">Actions</th>
        </tr>
        <tr v-for="clip in clips">
            <td class="">
                <code>{{clip.text}}</code>
            </td>
            <td class="">
                <button class="btn btn-sm btn-primary" @@click="triggerAction(suggestion.actionName, suggestion.actionParameters)" v-for="suggestion in clip.suggestions">{{suggestion.actionName}}</button>
            </td>
        </tr>
    </table>
</div>
<script src="/js/Warpdeck.js"></script>
<script type="module" src="/Apps/ClipboardApp.js"></script>
