@page "/device/{deviceId}/layer/{layerId}"
@model COSMIC.Warpdeck.Web.Pages.Layer

@{
    Layout = "_Layout";
}

<script src="/js/Partials/KeyGrid.js"></script>
<script src="/js/Pages/EditLayer.js"></script>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Layer: @Model.LayerId</h1>
    
</div>
<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-8">
            <div class="container-fluid" id="keymapGrid">
            </div>
        </div>
        <div class="col-md-4">
            <div id="propertiesCard">
                <div class="card mb-2">
                    <div class="card-header">
                        Behavior
                    </div>
                    <div class="card-body">
                        <select id="behaviorSelect" class="form-select d-none" >
                            <option value="Press">Press</option>
                            <option value="PressAndHold">Press And Hold</option>
                        </select>
                        <div id="actionContainer" class="form-group">
                        </div>
                    </div>
                </div>
                <form class="form">
                    <div id="tagContainer" class="form-group">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                    </div>
                    <div class="input-group">
                        <select class="form-select" id="addPropertyNameSelect">
                        </select>
                         <input type="text" id="addPropertyValueTextBox" class="form-control">
                        <button class="btn btn-outline-secondary" id="addPropertyButton" type="button">Add Property</button>
                    </div>
                    <div class="form-group">
                        <button id="saveKey" type="button" class="btn btn-primary">Save</button>
                        <button id="deleteKey" type="button" class="btn btn-primary">Delete</button>
                    </div>
                </form>

            </div>
            <div class="card" id="createKeyCard">
                <div class="card-header">
                    New Button
                </div>
                <div class="card-body">
                    <form class="form">
                        <button id="newKey" type="button" class="btn btn-primary">New Button</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

document.addEventListener("DOMContentLoaded", function(event) { 
    document.editLayer = new EditLayer(new KeyGrid("keymapGrid", "@Model.DeviceId","@Model.LayerId"));  
});
</script>