@page "/device/new"
@model COSMIC.Warpdeck.Web.Pages.NewDevice

@{
    Layout = "_Layout";
}
<h1>New Device</h1>

<div id="newDeviceApp">
    <wdnewdeviceform></wdnewdeviceform>
</div>



<!-- Warpdeck API and Vue -->
<script src="/js/warpdeck.js"></script>
<script type="module" src="/Apps/NewDeviceApp.js"></script>