@page "/device/new"
@model COSMIC.Warpdeck.Web.Pages.NewDevice

@{
    Layout = "_Layout";
}
<h1>Create New Device</h1>

<div class="mb-3">
    <input type="radio" class="btn-check" id="virtualDeviceRadio" name="deviceActionNameOptions" autocomplete="off" checked>
    <label class="btn btn-secondary" for="virtualDeviceRadio">Virtual</label>

    <input type="radio" class="btn-check" id="hardwareDeviceRadio" name="deviceActionNameOptions" autocomplete="off">
    <label class="btn btn-secondary" for="hardwareDeviceRadio">Hardware</label>
</div>


<div id="hardwareDeviceInputGroup" class="input-group mb-3">
    <span class="input-group-text" id="addon-wrapping">Hardware Devcice</span>
    <select id="boardIdentifierSelect" class="form-select" aria-label="Default select example">
        @foreach (var board in Model.AvailableBoards)
        {
            <option value="@board.HardwareId">@board.HardwareName</option>
        }
    </select>
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="">Device Name</span>
    <input id="deviceNameTextBox" type="text" class="form-control" value="" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>

<div class="input-group">
    <button id="createDeviceButton" class="btn btn-primary" type="button">Create</button>
</div>


<script>
document.addEventListener("DOMContentLoaded", function(event) { 
    
    window.newDevicePage = new NewDevice();
});

</script>