@page "/touchDevice/{deviceId}"
@model COSMIC.Warpdeck.Web.Pages.TouchDevice

@{
    Layout = "Shared/_VueApp";
}

<div id="touchDeviceApp">
    <div class="container-fluid" id="keymapGrid">
        <WdComponentGrid @@component-click="componentClick" deviceId="@Model.Device.DeviceId" layerId="active" rows="@Model.Device.Info.Rows" columns="@Model.Device.Info.Columns"></WdComponentGrid>
    </div>
</div>

<script type="module" src="/Apps/TouchDeviceApp.js"></script>